body {
  background-color: #e5e4e2;
  overflow-x: hidden;
}

.relative {
  margin-left: 40px;
}

.searchPage {
  margin-right: 220px;
}
@media (max-width: 599px) {
  .searchPage {
    margin-right: 20px;
  width: 100%;
    margin-top: -100px;
  }
}
.crypto-picture {
  font-size: 10px;
  margin-left: 10px;
}
.crypto-name {
  font-size: 25px;
  font-weight: bold;
  margin-top: -1px;
  margin-left: 10px;
  color: black;
}
.crypto-symbol {
  margin-left: 10px;
  margin-top: 9px;
}
.Crypto-price {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-left: 24px;
  padding-top: 10px;
  color: black;
}
.mobile-dash-board {
  display: none;
}
.mobile-dash-board-navbar {
  display: none;
}
.hr-change-percent {
  margin-bottom: 22px;
  left: 600px;
  font-size: 14px;
}
.grid {
  margin-top: 10px;
  display: grid;
  height: 300px;
}

.Search-page-chart {
  background-color: white;
  margin-left: 50px;
  border-radius: 15px;
  margin-top: 25px;
  width: 800px;
  height: 500px;
}
.history-chart {
  margin-top: -20px;
  height: 100%;
  width: 100%;
}
@media (max-width: 599px) {
  .crypto-header{
    margin-top:0px;
  }
  .px-4 {
    margin-left: -49px;
  }
  .mobile-dash-board {
    display: block;
    transform: translate(-117%, 0%);
  }
  .mobile-dash-board-navbar {
    display: block;
    transform: translate(7%, 0%);
  }
  body {
    background-color: #e5e4e2;
    width: 100%;
  }
  .Search-page-chart {
    margin-left: 0px;
    margin-top: 15px;
    width: 370px;
    height: 400px;
    transform: translate(0.5%, 5%);
  }
  .top-cryptos-details button {
    transform: translate(-60%, -30%);
  }
  .top-cryptos-price {
    margin-left: -15px;
  }
  .table-label {
    display: none;
  }
  .crypto-image {
    width: 100%;
  }
  .search-chart .artboard {
    background-color: white;
    margin-left: 50px;
    border-radius: 15px;
    margin-top: 25px;
    width: 100px;
    height: 150px;
  }
  .history-chart {
    margin-top: 20px;
    height: 100%;
    width: 100%;
  }
}
.overflow-x-auto {
  margin-left: -1400px;
}

.overflow-x-auto .table {
  width: 1400px;
}
.search-page-news {
  display: flex;
}

.Search-page-description-div {
  background-color: aliceblue;
  height: 400px;
  width: 380px;
  margin-left: 50px;
  margin-top: 450px;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}
.Search-page-news-div {
  background-color: aliceblue;
  height: 400px;
  width: 380px;
  margin-left: 50px;
  margin-top: 450px;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}
.Recent-transactions-div {
  background-color: aliceblue;
  height: 400px;
  width: 380px;
  margin-left: 50px;
  margin-top: 450px;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}
.mobile-stats {
  display: none;
}
.mobile-search-dash-board{
  display: none;
}
@media (max-width: 599px) {
  .mobile-search-dash-board{
    display: block;
    margin-top:140px;
    transform: translate(8%, -22%);
  }
  .mobile-stats {
    display: block;
  }
  .search-page-news {
    display: inline;
    transform: translate(-22%, -0%);
  }
  .Search-page-description-div {
    height: 400px;
    width: 370px;
    margin-left: 0px;
    margin-top: 150px;
    margin-bottom: 480px;
    transform: translate(-1.5%, -0%);
  }
  .Search-page-news-div {
    width: 370px;
    height: 400px;
    margin-left: 0px;
    margin-top: 150px;
    transform: translate(0.5%, -0%);
  }
  .Recent-transactions-div {
    height: 400px;
    width: 370px;
    margin-left: 0px;
    margin-top: 450px;
    transform: translate(0.5%, -0%);
  }
  .Mobile-stats-div {
    border-radius: 10px;

    overflow-y: auto;
    background-color: aliceblue;
    height: 400px;
    width: 370px;
    margin-left: 0px;
    margin-top: 100px;
    transform: translate(4%, -0%);
  }
  .Mobile-stats-div .stat {
    margin-top: -10px;
  }
  .Mobile-stats-div .stat-title {
    margin-top: 10px;
  }

  .overflow-x-auto {
    margin-top: 200px;
    width: 400px;
    overflow-x: scroll;
    margin-left: -738px;
  }

  .stats-page {
    display: none;
  }
  .table {
    overflow-x: auto;
  }
  .overflow-x-auto .table {
    width: 400px;
  }
  .CryptoList-data {
    display: none;
  }
  .CryptoList-details {
    transform: translate(-12%, -0%);
  }
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player:nth-child(4) {
  grid-column: 2;
}
.oneCryptoValue {
  color: white;
  font-size: 30px;
  margin-top: 30px;
  margin-left: 40px;
}
.sell-value {
  position: absolute;
  margin-top: -13px;
  right: 210px;
}
.exchange-icon {
  position: absolute;
  font-size: 60px;
  margin-top: -65px;
  margin-left: -0px;
}
.get-value {
  position: absolute;
  margin-top: -12px;
  right: 210px;
}
.exchange {
  color: white;
  margin-left: 43px;
  margin-top: 5px;
  position: absolute;
}
.exchange-value {
  color: white;
  margin-left: 220px;
  margin-top: 7px;
  position: absolute;
}
.Get-Logo {
  margin-top: -13px;
  position: absolute;
  margin-left: 80px;
}
.Sell-Logo {
  margin-top: -10px;
  font-size: 20px;
  position: absolute;
  left: 230px;
}
.CTA-button {
  border-radius: 10px;
  margin-left: 70px;
  position: absolute;
  top: 260px;
  height: 70px;
  width: 250px;
  background-color: aliceblue;
}
.Market-Cap-Result {
  margin-top: -10px;
}
.Volume-Result {
  margin-top: -10px;
}

.Supply-Result {
  margin-top: -10px;
}

.stats {
  width: 1200px;
  margin-top: 50px;
  height: 190px;
  margin-left: 30px;
}
.Recent-Transactions-Header {
  font-weight: bold;
  font-size: 27px;
  margin-left: 5px;
  margin-top: 10px;
}
.Recent-logo {
  width: 30px;
  height: auto;
  margin-left: 10px;
}
.Recent-name {
  margin-left: 10px;
}
.Recent-target {
  margin-left: 160px;
}
.Recent-symbol {
  margin-left: 60px;
  margin-top: 0px;
}
.Recent-percentage {
  margin-left: 160px;
}
.Recent-arrow {
  font-size: 30px;
  margin-left: -130px;
}
.Description-Header {
  font-weight: bold;
  font-size: 27px;
  margin-left: 5px;
  margin-top: 11px;
}
.description {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
}
.News-title {
  font-weight: bold;
  font-size: 27px;
  margin-left: 1px;
  margin-top: 10px;
}
.Trending {
  margin-top: 0px;
}
.News-div {
  display: flex;
  padding-top: 6px;
}
.news-name {
  margin-top: 0px;
  margin-left: 10px;
}
.News-image {
  margin-top: 1px;
  width: 130px;
  height: auto;
}
.image-not-found {
  margin-top: 1px;
  width: 200px;
}
.Trade-div {
  margin-left: 80px;
  height: 400px;
  margin-top: -702px;
}
.Trade-div button {
  border-radius: 10px;
  margin-left: 50px;
  position: absolute;
  top: 260px;
  height: 70px;
  width: 250px;
  background-color: aliceblue;
}
@media (max-width: 599px) {
  .Trade-div {
    margin-left: -890px;
    height: 400px;
    margin-top: -702px;
    transform: translate(0.5%, 600%);
  }
  .Trade-div button {
    margin-left: 48px;
  }
}

.Crypto-info {
  margin-top: -100px;
  padding-bottom: 50px;
}
.non-Active {
  display: flex;
}
.Active {
  width: 20px;
}
